.attendee-details-container{
    width: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    max-width: 700px;
    background:linear-gradient(to top, hsl(190, 79%, 8%), #041E23);
    padding: 2rem;
    border: 1px solid #09798a;
    border-radius: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding-bottom: 30px;
  }
  
  .attendee-details{
    width: 100%;
    max-width: 600px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background:linear-gradient(to top, #0a2429c4, #0f373d);
    padding: 2rem;
    border-radius: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .attendee-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }

  .attendee-nav h3{
    color: #fff;
    margin: 0;
    font-family: "JejuMyeongjo", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
  }

  .profile-pic-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: start; 
    margin: 0; 
    padding: 0;
  }

  .attendee-details label {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin: 10px 0 5px;
  }
  
  .attendee-details input,
  .attendee-details textarea {
    width: 100%;
    background-color: transparent;
    max-width: 580px;
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;
    margin: 10px 0;
    border: 1px solid #12464E;
    border-radius: 5px;
  }

  .attendee-details input::placeholder,
  .attendee-details textarea::placeholder{
    color: gray;
    font-weight: 400;
    background-color: none;
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .error-message {
    color: #d32f2f; 
    font-size: 0.9em;
    margin-top: 5px;
  }