body {
  font-family: 'Arial', sans-serif;
  background-color: #02191D; /* Light background for contrast */
  margin: 0;
  padding: 0;
}

.container {
  background-color: #041E23 ;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ticket-nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.ticket-nav h3{
  color: #fff
}

h2 {
  color: #fff; 
  text-align: center;
}

p {
  color: #fff;
  text-align: center;
}

.ticket-selection,
.attendee-details,
.ticket-confirmation {
  background-color: #041E23; /* Light green background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.ticket-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.ticket-option {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #e8f5e9; /* Very light green */
}

.ticket-option:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ticket-option.selected {
  border-color: #388E3C; /* Dark green for selected */
  background-color: #c8e6c9; /* Light green for selected */
}

.price {
  font-weight: bold;
  font-size: 1.2em;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #388E3C; /* Dark green */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #66BB6A; /* Lighter green on hover */
}

.attendee-details input,
.attendee-details select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.attendee-details label {
  display: block;
  margin: 10px 0 5px;
}